@font-face {
    font-family: 'Helvetica Neue';
    src: url('HelveticaNeue-MediumExt.eot');
    src: url('HelveticaNeue-MediumExt.eot?#iefix') format('embedded-opentype'),
        url('HelveticaNeue-MediumExt.woff2') format('woff2'),
        url('HelveticaNeue-MediumExt.woff') format('woff'),
        url('HelveticaNeue-MediumExt.ttf') format('truetype'),
        url('HelveticaNeue-MediumExt.svg#HelveticaNeue-MediumExt') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'HelveticaNeueLTW06-93BlkExtObl';
    src: url('HelveticaNeueLTW06-93BlkExtObl.eot');
    src: url('HelveticaNeueLTW06-93BlkExtObl.eot?#iefix') format('embedded-opentype'),
        url('HelveticaNeueLTW06-93BlkExtObl.woff2') format('woff2'),
        url('HelveticaNeueLTW06-93BlkExtObl.woff') format('woff'),
        url('HelveticaNeueLTW06-93BlkExtObl.ttf') format('truetype'),
        url('HelveticaNeueLTW06-93BlkExtObl.svg#HelveticaNeueLTW06-93BlkExtObl') format('svg');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Helvetica Neue';
    src: url('HelveticaNeue-UltraLight.eot');
    src: url('HelveticaNeue-UltraLight.eot?#iefix') format('embedded-opentype'),
        url('HelveticaNeue-UltraLight.woff2') format('woff2'),
        url('HelveticaNeue-UltraLight.woff') format('woff'),
        url('HelveticaNeue-UltraLight.ttf') format('truetype'),
        url('HelveticaNeue-UltraLight.svg#HelveticaNeue-UltraLight') format('svg');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'HelveticaNeueW01-66MediumIt';
    src: url('HelveticaNeueW01-66MediumIt.eot');
    src: url('HelveticaNeueW01-66MediumIt.eot?#iefix') format('embedded-opentype'),
        url('HelveticaNeueW01-66MediumIt.woff2') format('woff2'),
        url('HelveticaNeueW01-66MediumIt.woff') format('woff'),
        url('HelveticaNeueW01-66MediumIt.ttf') format('truetype'),
        url('HelveticaNeueW01-66MediumIt.svg#HelveticaNeueW01-66MediumIt') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'HelveticaNeueW01-87HvCnObl';
    src: url('HelveticaNeueW01-87HvCnObl.eot');
    src: url('HelveticaNeueW01-87HvCnObl.eot?#iefix') format('embedded-opentype'),
        url('HelveticaNeueW01-87HvCnObl.woff2') format('woff2'),
        url('HelveticaNeueW01-87HvCnObl.woff') format('woff'),
        url('HelveticaNeueW01-87HvCnObl.ttf') format('truetype'),
        url('HelveticaNeueW01-87HvCnObl.svg#HelveticaNeueW01-87HvCnObl') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'HelveticaNeueLTW06-97BlkCnObl';
    src: url('HelveticaNeueLTW06-97BlkCnObl.eot');
    src: url('HelveticaNeueLTW06-97BlkCnObl.eot?#iefix') format('embedded-opentype'),
        url('HelveticaNeueLTW06-97BlkCnObl.woff2') format('woff2'),
        url('HelveticaNeueLTW06-97BlkCnObl.woff') format('woff'),
        url('HelveticaNeueLTW06-97BlkCnObl.ttf') format('truetype'),
        url('HelveticaNeueLTW06-97BlkCnObl.svg#HelveticaNeueLTW06-97BlkCnObl') format('svg');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

